/* -------------------
 * WEB ELEMENTS
 * -------------------*/

/* buttons */
.btn {
	@include border-radius(0);
	@include transition(all .3s ease-in);

	font-weight: 700;
}

.btn-lg {
	padding: 15px 26px;
	font-size: 16px;
}

.btn-primary {
	background-color: $brand-primary;
	border-color: darken($brand-primary, 8%);

	&:hover,
	&:focus,
	&:active:focus,
	&.active:focus {
		background-color: darken($brand-primary, 3%);
		border-color: darken($brand-primary, 8%);
	}
}

/* form inputs */
.form-control {
	@include border-radius(0 !important);
	@include box-shadow(none);
}

/* countdown */
.countdown {
	background-color: transparent;
	border: none;

	.countdown-amount {
		font-size: 56px;
		line-height: 1;
	}

	.countdown-period {
		font-size: 22px;
		color: lighten($body-font-color, 20%);
		text-transform: lowercase;
	}

	@include max-screen($break-small) {
		.countdown-amount {
			font-size: 22px;
		}

		.countdown-period {
			font-size: 18px;
		}
	}
}

.countdown-show4 .countdown-section {
	width: auto;
	margin-right: 110px;

	@include max-screen($break-large) {
		margin-right: 80px;
	}

	@include max-screen($break-medium) {
		margin-right: 40px;
	}

	@include max-screen($break-xsmall) {
		margin-right: 22px;
	}
}

.countdown-holding span {
	color: $body-font-color;
}

/* social icons */
.social-icons {
	margin-bottom: 0;
	position: absolute;
	bottom: 30px;

	> li {
		padding: 0 2px 5px 2px;

		> a {
			@include inline-block;
			@include border-radius(3px);
			@include transition(all .3s ease-in);

			width: 40px;
			height: 40px;
			line-height: 42px;
			text-align: center;
			background-color: $body-font-color;
			color: #fff;

			i {
				font-size: 18px;
			}

			&:hover, &:focus {
				background-color: darken($body-font-color, 8%);
			}
		}
	}
}

.social-icons-circle {
	> li > a {
		@include border-radius(50%);
	}
}


